[Unit]
Description=sdwdate graphical user interface - Qubes socket proxy
DefaultDependencies=no

ConditionPathExists=/usr/share/qubes/marker-vm
ConditionPathExists=/run/sdwdate-gui-qubes-should-proxy
ConditionPathExists=!/run/qubes/this-is-templatevm

Requires=user@.service
Requires=sdwdate-gui-qubes-proxy-helper.service

After=user@.service
After=sdwdate-gui-qubes-proxy-helper.service

Before=shutdown.target
Conflicts=shutdown.target

[Socket]
ListenStream=/run/user/%i/sdwdate-gui/sdwdate-gui-server.socket
Accept=yes

[Install]
WantedBy=user@.service
